* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh; 
  background: radial-gradient(circle, #2c3367 0%, #14172e 100%);
}
.navbar1 {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(10px); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
.nav-title1 {
  color: #ffffff;
}
.searc-inp {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 12px 100px 12px 20px;
  transition: all 0.3s;
}
.btnoz {
  background: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 8px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btnoz:hover {
  background: rgba(255, 255, 255, 0.1);
  border-color: #ffffff;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 40px;

}

.country-card {
  flex: 0 1 300px;
  background-color: #1e1e1e;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.3 ease;
  border: 1px solid #333;
  box-shadow: 0 10px 20px rgba(88, 166, 255, 0.4);
}
.country-card:hover {
  transform: scale(1.05);
  border-color: #58a6ff;
}
.flag {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.info {
  color: #ffffff;
  padding: 40px;
  font-family: 'Segoe UI', sans-serif;
}
.spaninfo {
  color: #aaa;
  padding-right: 5px;
}